   
   
   
   {{!-- you can ignore the code below, this file/folder 
   will be where our front  end displays information to the user. --}}
   
   
   
{{!--    
   <div class="container-fluid">
    	<div class="panel panel-primary" id="login">
    		<div class="panel-heading">
    			<h2 class="panel-title">Medi-Schedule Login</h2>
    		</div><!-- / .panel-heading -->
    		<div class="panel-body">
				<form class="form-horizontal" method="post" action="signin">
					<div class="form-group" class="login-form">
						<label for="badgeID" class="col-sm-2 control-label">User ID</label>
						<div class="col-sm-10">
							<input type="text" id="badgeId" name="badgeId" class="form-control" placeholder="Please enter your 4 digit badge ID number." pattern="[0-9]{4}" required="true">
						</div><!-- / .col-sm-10 -->
					</div><!-- / .form-group -->
					<div class="form-group">
						<label for="passwordInput" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input name="password" type="password" name="password" class="form-control" id="passwordInput" placeholder="Please enter a 12 character password." autocomplete="current-password" required="true">
						</div><!-- / .col-sm-10 -->
					</div><!-- / .form-group -->
					<button formaction="/" value="Sign In" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Login</button>
				</form><!-- / form -->
			</div><!-- / .panel-body -->
		</div><!-- / .panel-primary -->
	</div><!-- / .container-fluid --> --}}